<hr/>
<footer>
<p><a href="http://github.com/" target="_blank">GitHub</a> 2012</p>
</footer>
</div><!-- contaner -->
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
</body>
</html>
